@use '~@quartz/styles/scss/borders';
@use '~@quartz/styles/scss/helpers/resets';
@use '~@quartz/styles/scss/media-queries';
@use '~styles/tokens' as qzcom-tokens;

html,
body,
:global(#root) {
	min-height: 100%;
	height: 100%;
}

// Offset the height of the fixed nav for anchor links or whenever users are
// scrolled to an element.
html {
	scroll-padding-top: qzcom-tokens.$size-height-nav-mobile + qzcom-tokens.$size-height-spacing-heading;

	@include media-queries.tablet-landscape-up {
		scroll-padding-top: qzcom-tokens.$size-height-nav-tablet + qzcom-tokens.$size-height-spacing-heading;
	}
}

body {
	padding: 0;
	margin: 0;
}

a {
	@media print {
		color: inherit;
	}
}

hr {
	clear: both;
	width: 100%;
	margin: qzcom-tokens.$size-height-spacing-section 0;
	border: 0;
	border-bottom: borders.$solid-decorative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	@include resets.appearance;
}
