@use '~@quartz/styles/scss/color-scheme';
@use '~@quartz/styles/scss/fonts';
@use '~@quartz/styles/scss/helpers/positioning';
@use '~@quartz/styles/scss/tokens';
@use '~@quartz/styles/scss/states';
@use '~styles/mixins/images';

.container {
	@include states.fade-on-hover;

	display: block;
	color: inherit;
}

.kicker {
	@include fonts.maison-extended-700-1;

	display: block;
	color: color-scheme.$accent;
	margin-bottom: 4px;
}

.title {
	@include fonts.maison-800-2;

	display: block;
}

.image-container {
	border-radius: tokens.$size-border-radius;
	overflow: hidden;
	position: relative;
	margin-bottom: 8px;
}

.play-icon {
	@include positioning.center;

	height: 32%;
	width: auto;
}

.duration {
	@include fonts.maison-800-1;

	position: absolute;
	bottom: 8px;
	right: 8px;
	background-color: rgba(tokens.$color-black, 0.3); // we want the background to always be black transparent and text to be white, even on dark mode
	color: tokens.$color-white;
	padding: 4px;
	border-radius: tokens.$size-border-radius / 2;
	letter-spacing: 1px;
}

.details {
	@include fonts.maison-500-1;

	display: block;
	margin-top: 4px;
	color: color-scheme.$typography-faint;
}
