@use '~@quartz/styles/scss/media-queries';
@use '~styles/tokens' as qzcom-tokens;

.notifications-container {
	position: fixed;
	z-index: qzcom-tokens.$z-index-eight;
	top: qzcom-tokens.$size-height-nav-mobile;
	margin-top: 10px;
	right: 18px;
	left: 18px;
	transition: top 0.3s;

	@include media-queries.tablet-portrait-up {
		width: 335px;
		left: auto;
	}

	@include media-queries.tablet-landscape-up {
		top: qzcom-tokens.$size-height-nav-tablet;
	}
}
